<div class="section">
    <div class="container">
        <div class="row">

            <div class="col-md-3">
                <div class="content mt-3">
                    <div class="border border-1 countdown fs-6 lh-sm mb-3">
                        <div class="countdown__section p-4">
                            <!-- <i class="fa-hourglass-start fa-solid float-lg-start float-md-start float-sm-start fs-1 text-info"></i> -->
                            <div class="countdown__message mb-4 position-relative ps-5 pt-2 text-sm-start">
                                <span class="cus-text me-5">To secure this price, just Book Now</span>
                                <i class="countdown__icon position-absolute top-0 start-0 w-100"></i>
                                <!-- <p class="user-select-all">This paragraph will be entirely selected when clicked by the user.</p> -->
                                <!-- <p><a href="#" class="pe-auto" tabindex="-1" aria-disabled="true">This link</a> can not be clicked.</p> -->

                                


                            </div>
                        </div>

                        <div class="countdown__section countdown__section--highlight text-center">
                            <div class="countdown__until mb-2">Your trip starts in:</div>

                            <div class="countdown__row cf">
                                <div class="countdown__value" id="trip_day_str">2</div>
                                <div class="countdown__divide">:</div>
                                <div class="countdown__value" id="trip_hour_str">3</div>
                                <div class="countdown__divide">:</div>
                                <div class="countdown__value" id="trip_min_str">4</div>
                                <div class="countdown__divide">:</div>
                                <div class="countdown__value" id="trip_sec_str">2</div>
                            </div>

                            <div class="countdown__row cf">
                                <div class="countdown__unit lh-1 w-25" id="trip_day_str_i">
                                    <p>days</p>
                                </div>
                                <div class="countdown__unit lh-1 w-25" id="trip_hour_str_i">
                                    <p>hours</p>
                                </div>
                                <div class="countdown__unit lh-1 w-25" id="trip_min_str_i">
                                    <p>minutes</p>
                                </div>
                                <div class="countdown__unit lh-1 w-25" id="trip_sec_str_i">
                                    <p>seconds</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="border border-1 usps-combined">
                        <div class="usps-combined-supplier-wrapper w-100">

                            <p class="align-middle fst-normal lh-sm ps-0 text-center usps-combined-link">
                                <a href="#" class="txt-blue-6">View Supplier Details</a>
                            </p>

                            <div class="float-lg-start float-sm-start float-start usps-combined-supplier">
                                <div class="crop d-inline-block mb-3 mt-3">
                                    <img src="https://cdn2.rcstatic.com/images/suppliers/wrp/flat/482_logo_lrg.gif"
                                        class="js-supplier-logo me-md-3 mt-md-2 mt-sm-2 rvw_supplier_logo w-75">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="border-cus col-md-9 p-3">
                <div class="row">


                    <div class="col-md-4">
                        <div class="post-car">
                            <div class="car-section">
                                <p class="car-type d-md-inline p-2 position-relative">
                                    <strong class="d-inline-block mb-2">Hyundai I20</strong>

                                    <span id="or_similar" class="underlined" aria-describedby="ui-tooltip-3"
                                         aria-expanded="false" style="cursor: pointer;">or Similar</span>

                                    <a class="float-end ms-0 mt-1 txt-blue-6" href="#">
                                        <i class="align-middle d-inline-block me-0 mt-0 pencil-edit-icon"></i>
                                        change
                                    </a>

                                </p>
                                <img src="https://cdn2.rcstatic.com/images/car_images/web/hyundai/i20_lrg.jpg"
                                    alt="Hyundai I20" class="car-image  ">

                                <div class="sub-foot">
                                    <img class="supplier-type" title="Enterprise" alt="Enterprise (RTA)"
                                        src="https://cdn2.rcstatic.com/images/suppliers/wrp/flat/482_logo_lrg.gif">
                                    <button
                                        type="https://cdn2.rcstatic.com/images/suppliers/wrp/flat/482_logo_lrg.gifhttps://cdn2.rcstatic.com/images/suppliers/wrp/flat/482_logo_lrg.gif"
                                        class="booking-details txt-blue-6 a11y-normalise-button" aria-expanded="false"
                                        aria-controls="carDetailsSlideUp">Car details</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-8">
                        <div class="booking-section d-lg-table details ps-3 w-100 details">
                            <div class="inner">
                                <div class="des mb-3 mt-2 pb-1">
                                    <div class="info_b mt-0 position-relative">
                                        <div class="info_b__details">
                                            <p class="fs-6 info_b__date lh-sm m-0">
                                                <strong>Pick-up</strong>
                                                <span class="d-block summ-date">10:00 AM Tuesday 06 September, 2022</span>
                                            </p>
                                            <p class="info_b__location">
                                                <strong>
                                                    <span class="fw-light summ-location">
                                                        <a href="#" class="summ-location-link">Durres Downtown,
                                                            Albania</a>
                                                    </span>
                                                </strong>
                                            </p>
                                        </div>
                                        <button class="change-dates-modal txt-blue-6 a11y-normalise-button">
                                            <i class="align-middle d-inline-block me-0 mt-0 pencil-edit-icon"></i>
                                            Change dates
                                        </button>
                                    </div>

                                    <div class="info_b info_bot mt-2 position-relative">
                                        <div class="info_b__details">
                                            <p class="fs-6 info_b__date lh-sm m-0">
                                                <strong>Drop-off</strong>
                                                <span class="d-block summ-date">10:00 AM Friday 09 September, 2022</span>
                                            </p>
                                            <p class="info_b__location">
                                                <strong>
                                                    <span class="fw-light summ-location">
                                                        <a href="#" class="summ-location-link">Durres Downtown,
                                                            Albania</a>
                                                    </span>
                                                </strong>
                                            </p>
                                        </div>
                                    </div>
                                </div>


                                <div class="extras p-3">
                                    <div class="d-inline-block extras-title fs-6 fw-bold">Extras</div>
                                    <div class="d-inline-block extras-drop extras-drop--disabled extras-drop--empty ms-2 position-relative" id="extras-drop">
                                        <button type="button" class="a11y-normalise-button extras-drop-link"
                                            aria-expanded="false" aria-controls="extras-drop-link-content"
                                            tabindex="-1">
                                            <span class="extras-drop-link__text">No extras</span>
                                            <i class="extras-drop-link__arrow"></i>
                                        </button>
                                    </div>

                                    <a href="#" id="extrasContent" class="txt-blue-6  change-extras-link">
                                        <i class="align-middle d-inline-block me-0 mt-0 pencil-edit-icon"></i>
                                        Change
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="box-footer mb-3">
                        <div class="border border-1 box-footer__content p-3">
                            <div class="fs-6 lh-sm love-list">
                                <div class="fw-bold love-list__title mb-2">Good choice!</div>
                                <ul class="cf love-list__list mb-0 ms-0">
                                    <li class="align-top d-inline-block fs-6 love-list__item">
                                        <div class="d-lg-table love-list__content">
                                            <i class="align-middle d-lg-table-cell d-md-inline-block d-sm-inline-block love-list__icon love-list__icon--fuel"></i>
                                            <span class="align-middle d-lg-table-cell love-list__text ps-2 text-center">Most popular fuel policy</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>



                    <div class="inline-message positive inline-message--includes">
                        <h4>Included in the price:</h4>
                        <ul>
                            <li class="d-inline-block me-0 me-2 ms-0 mt-2 result_includes result_includes--ticked">
                                <i class="fa-solid fa-circle-check" style="color:green"></i>
                                <a href="#0"
                                    class="a11y-normalise-button cancellation-modal-link js-cancellation-modal-link p-2 text-decoration-none"
                                    aria-describedby="ui-tooltip-3" aria-expanded="false" style="cursor: pointer;">Free
                                    cancellation</a>
                            </li>


                            <li class="d-inline-block me-0 me-2 ms-0 mt-2 result_includes result_includes--ticked">
                                <i class="fa-solid fa-circle-check" style="color:green"></i>
                                <a href="#0"
                                    class="a11y-normalise-button cancellation-modal-link js-cancellation-modal-link p-1"
                                    aria-describedby="ui-tooltip-3" aria-expanded="false" style="cursor: pointer;">
                                    Theft Protection</a>
                                <div class="modal modal--cancellation modal--fixed modal--light" id="cancellation-modal"
                                    style="position: absolute !important;">
                                    <div class="modal__dialog">
                                        <div class="modal__content">
                                            <div class="modal__header">
                                                <a href="#" class="modal__close"></a>
                                                <h1 class="modal__title">Free cancellation up to 48 hours before pick-up
                                                </h1>
                                            </div>

                                            <div class="modal__body">
                                                <div class="cancel-explained">
                                                    <div class="cancel-explained__timeline cancel-timeline">
                                                        <div class="cancel-timeline__row">
                                                            <div
                                                                class="cancel-timeline__segment cancel-timeline__segment--large">
                                                                <div
                                                                    class="cancel-timeline__tip-segment cancel-timeline__tip-segment--small">
                                                                    <div class="cancel-timeline__tip">
                                                                        now
                                                                        <span
                                                                            class="cancel-timeline__arrow cancel-timeline__arrow--border"></span>
                                                                        <span class="cancel-timeline__arrow"></span>
                                                                    </div>
                                                                </div>


                                                                <div
                                                                    class="cancel-timeline__tip-segment cancel-timeline__tip-segment--large">
                                                                    <div
                                                                        class="cancel-timeline__tip cancel-timeline__tip--omega cancel-timeline__tip--offset">
                                                                        10:00 AM Monday 05 September, 2022
                                                                        <br>
                                                                        <span
                                                                            class="cancel-timeline__arrow cancel-timeline__arrow--border"></span>
                                                                        <span class="cancel-timeline__arrow"></span>
                                                                    </div>
                                                                </div>
                                                            </div>



                                                            <div
                                                                class="cancel-timeline__segment cancel-timeline__segment--small">
                                                                <div
                                                                    class="cancel-timeline__tip cancel-timeline__tip--omega">
                                                                    Pick-up
                                                                    <span
                                                                        class="cancel-timeline__arrow cancel-timeline__arrow--border"></span>
                                                                    <span class="cancel-timeline__arrow"></span>
                                                                </div>
                                                            </div>
                                                        </div>



                                                        <div class="cancel-timeline__row">
                                                            <div
                                                                class="cancel-timeline__segment cancel-timeline__segment--large">
                                                                <div
                                                                    class="cancel-timeline__bar cancel-timeline__bar--positive">
                                                                </div>
                                                            </div>


                                                            <div
                                                                class="cancel-timeline__segment cancel-timeline__segment--small">
                                                                <div
                                                                    class="cancel-timeline__bar cancel-timeline__bar--negative">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <p class="cancel-explained__legend">
                                                        <span
                                                            class="cancel-explained__point cancel-explained__point--positive"></span>
                                                        You’ll get a full refund if you cancel at least 48 hours before
                                                        pick-up.
                                                        <br>
                                                    </p>

                                                    <p class="cancel-explained__legend">
                                                        <span
                                                            class="cancel-explained__point cancel-explained__point--negative"></span>
                                                        You won’t get a full refund if you cancel after that.
                                                        <br>
                                                        <a href="#0" class="js-cancel-explained-details-link">More
                                                            Details</a>
                                                    </p>

                                                    <div
                                                        class="cancel-explained__full-information js-cancel-explained-details">
                                                        <div class="cancel-explained__full-information-content"></div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="d-inline-block me-0 me-2 ms-0 mt-2 result_includes result_includes--ticked">
                                <i class="fa-solid fa-circle-check" style="color:green"></i>
                                <a href="#0"
                                    class="a11y-normalise-button cancellation-modal-link js-cancellation-modal-link p-1"
                                    aria-describedby="ui-tooltip-3" aria-expanded="false" style="cursor: pointer;">
                                    Collision Damage Waiver</a>
                                <div class="modal modal--cancellation modal--fixed modal--light" id="cancellation-modal"
                                    style="position: absolute !important;">
                                    <div class="modal__dialog">
                                        <div class="modal__content">
                                            <div class="modal__header">
                                                <a href="#" class="modal__close"></a>
                                                <h1 class="modal__title">Free cancellation up to 48 hours before pick-up
                                                </h1>
                                            </div>

                                            <div class="modal__body">
                                                <div class="cancel-explained">
                                                    <div class="cancel-explained__timeline cancel-timeline">
                                                        <div class="cancel-timeline__row">
                                                            <div
                                                                class="cancel-timeline__segment cancel-timeline__segment--large">
                                                                <div
                                                                    class="cancel-timeline__tip-segment cancel-timeline__tip-segment--small">
                                                                    <div class="cancel-timeline__tip">
                                                                        now
                                                                        <span
                                                                            class="cancel-timeline__arrow cancel-timeline__arrow--border"></span>
                                                                        <span class="cancel-timeline__arrow"></span>
                                                                    </div>
                                                                </div>


                                                                <div
                                                                    class="cancel-timeline__tip-segment cancel-timeline__tip-segment--large">
                                                                    <div
                                                                        class="cancel-timeline__tip cancel-timeline__tip--omega cancel-timeline__tip--offset">
                                                                        10:00 AM Monday 05 September, 2022
                                                                        <br>
                                                                        <span
                                                                            class="cancel-timeline__arrow cancel-timeline__arrow--border"></span>
                                                                        <span class="cancel-timeline__arrow"></span>
                                                                    </div>
                                                                </div>
                                                            </div>



                                                            <div
                                                                class="cancel-timeline__segment cancel-timeline__segment--small">
                                                                <div
                                                                    class="cancel-timeline__tip cancel-timeline__tip--omega">
                                                                    Pick-up
                                                                    <span
                                                                        class="cancel-timeline__arrow cancel-timeline__arrow--border"></span>
                                                                    <span class="cancel-timeline__arrow"></span>
                                                                </div>
                                                            </div>
                                                        </div>



                                                        <div class="cancel-timeline__row">
                                                            <div
                                                                class="cancel-timeline__segment cancel-timeline__segment--large">
                                                                <div
                                                                    class="cancel-timeline__bar cancel-timeline__bar--positive">
                                                                </div>
                                                            </div>


                                                            <div
                                                                class="cancel-timeline__segment cancel-timeline__segment--small">
                                                                <div
                                                                    class="cancel-timeline__bar cancel-timeline__bar--negative">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <p class="cancel-explained__legend">
                                                        <span
                                                            class="cancel-explained__point cancel-explained__point--positive"></span>
                                                        You’ll get a full refund if you cancel at least 48 hours before
                                                        pick-up.
                                                        <br>
                                                    </p>

                                                    <p class="cancel-explained__legend">
                                                        <span
                                                            class="cancel-explained__point cancel-explained__point--negative"></span>
                                                        You won’t get a full refund if you cancel after that.
                                                        <br>
                                                        <a href="#0" class="js-cancel-explained-details-link">More
                                                            Details</a>
                                                    </p>

                                                    <div
                                                        class="cancel-explained__full-information js-cancel-explained-details">
                                                        <div class="cancel-explained__full-information-content"></div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>




                    <div class="border border-1 box p-3 position-relative w-100 rounded">
                        <h2 class="fs-4 fw-bold lh-sm m-0 p-1 w-100">Driver Information</h2>
                        <p class="float-end fw-bold m-2 required">* Required fields</p>
                        <div class="inline-message inline-message--error cf">
                            <h4>Almost done</h4>
                            <p>The red writing shows you what’s missing…</p>
                        </div>

                        <div class="form-con">
                            <div class="d-md-flex d-sm-flex form-row">
                                <label for="title" class="d-inline-block header text-end">*&nbsp; Title</label>
                                <span class="border border-1 d-inline-block form-border mb-md-1 mt-md-0 position-relative rounded">
                                    <span class="holder position-absolute">Please select</span>
                                    <select name="title" id="title">
                                        <option value="Please Select">Please Select</option>
                                        <option value="Mr">Mr</option>
                                        <option value="Mrs">Mrs</option>
                                        <option value="Miss">Miss</option>
                                        <option value="Dr">Dr</option>
                                        <option value="Ms">Ms</option>
                                    </select>
                                    <input type="hidden" id="titleSelect" name="title" value>
                                </span>

                                <div id="title_advance" class="advance-msg show_msg"></div>
                                <div class="error-msg" id="titleerror"></div>
                            </div>



                            <div class="d-md-flex d-sm-flex form-row">
                                <label for="f_name_input" class="d-inline-block header text-end">*&nbsp; First Name</label>
                                <input class="border border-1" type="text" name="firstname" value id="f_name_input" aria-required="true"
                                    aria-describedby="firstnameerror">
                                <div id="firstname_advance" class="advance-msg show_msg"></div>
                                <div class="error-msg" id="firstnameerror"></div>
                            </div>


                            <div class="d-md-flex d-sm-flex form-row">
                                <label for="surname_input" class="d-inline-block header text-end">*&nbsp; Last Name</label>
                                <input class="border border-1" type="text" name="surname" value id="surname_input" aria-required="true"
                                    aria-describedby="surnameerror">
                                <div id="surname_advance" class="advance-msg show_msg" style="display: none;"></div>
                                <div class="error-msg" id="surnameerror"></div>
                            </div>


                            <div class="d-md-flex d-sm-flex form-row form-row--has-suggestion form-row--has-tip">
                                <label for="booking-form-email" class="d-inline-block header text-end">*&nbsp; Email Address</label>
                                <input class="border border-1" type="text" name="email" id="booking-form-email" aria-required="true"
                                    aria-describedby="emailerror">
                                <div id="email_advance" class="advance-msg show_msg" style="display: none;"></div>
                                <i class="input-tip"></i>
                                <div class="error-msg" id="emailerror"></div>
                            </div>



                            <div class="d-md-flex d-sm-flex form-row">
                                <label for="phone_input" class="d-inline-block header text-end">*&nbsp; Home Phone</label>
                                <input class="border border-1" type="text" name="phone" id="phone_input" aria-required="true"
                                    aria-describedby="phoneerror">
                                <div id="phone_advance" class="advance-msg show_msg" style="display: none;"></div>
                                <div class="error-msg" id="phoneerror"></div>
                            </div>
                        </div>
                    </div>


                    <div class="email-signup cf">
                        <h3 class="email-signup__title">Save even more next time</h3>
                        <span class="email-signup__body">We'll use your email address to send you our finest deals and discounts.</span>
                        <span class="email-signup__body"></span>
                        <div class="d-inline-block email-signup__preferences">
                            <ul>
                                <li class="email-signup__checkbox">
                                    <input type="checkbox" name="mailingList" id="mailingList_input" value="on">
                                    <label class="email-signup__preference fst-normal lh-base mt-2 pb-1 pe-0 ps-2 pt-1 text-end" id="email-signup-label">No thanks, count me out.</label>
                                </li>
                            </ul>
                        </div>

                        <span class="d-block email-signup__body--small lh-base">
                            <p class="email-signup__body--small">
                                Our
                                <a href="#0" class="privacy-policy-disclaimer__link">Privacy Notice</a>
                                tells you how to 
                                <a href="https://www.rentalcars.com/Unsubscribe.do" target="_blank" title="Unsubscribe">unsubscribe</a>
                                . It also explains how we use and protect your personal information.
                            </p>
                        </span>
                    </div>


<div class="cta_area float-end fs-4 lh-1 mt-3 position-relative text-end w-100">
    <div class="contin float-end">
        <a href="#" class="border-0 btn fs-5 fw-bold lg lh-lg rc-btn secondary txt-white rounded" id="btn-submit-dd">
            <span class="d-none position-absolute rc-btn-loader"></span>
                Book Now
        </a>
    </div>

    <a href="javascript:document.BookingPaymentForm.action=backURL;document.BookingPaymentForm.submit()" class="back-gray fs-4 m-0 position-absolute ps-2">
        <i class="fa-solid fa-caret-left"></i>
        Back
    </a>

    <div class="float-end fs-5 p-2 step_progress"> 
        Step 
        <span class="fw-bold">3</span>
        of 5
    </div>
</div>
                    

<div class="privacy-policy-disclaimer cf">
    <div class="d-inline-block fst-italic lh-1 ms-3 position-relative privacy-policy-disclaimer__message">      
        By clicking "Book Now", you are confirming that you have read, understood, and accepted our 
        <a href="#0" class="privacy-policy-disclaimer__link">Privacy Notice</a>
        &nbsp;
    </div>
</div>



                </div>
            </div>
        </div>
    </div>
</div>