<!-- <div class="section">

    <div class="content">
        <div class="col-l">
            <div class="countdown">
                <div class="countdown__section">
                    <div class="countdown__message">
                        <i class="countdown__icon"></i>  
                        <span class="cus-text me-4">احجز الآن فقط لضمان هذا السعر</span>                    
                    </div>
                </div>

                <div class= "countdown__section countdown__section--highlight">
                    <div class="countdown__until">ستبدأ رحلتك خلال:</div>

                    <div class="countdown__row cf">
                        <div class="countdown__value" id="trip_day_str">2</div>
                            <div class="countdown__divide">:</div>
                        <div class="countdown__value" id="trip_hour_str">24</div>
                            <div class="countdown__divide">:</div>
                        <div class="countdown__value" id="trip_min_str">55</div>
                           <div class="countdown__divide">:</div>
                        <div class="countdown__value" id="trip_sec_str">2</div>
                    </div>

                    <div class= "countdown__row cf">
                        <div class="countdown__unit" id="trip_day_str_i">
                            <p>يوم</p>
                        </div>
                        <div class="countdown__unit" id="trip_hour_str_i">
                            <p>ساعة</p>
                        </div>
                        <div class="countdown__unit" id="trip_min_str_i">
                            <p>دقيقة</p>
                        </div>
                        <div class="countdown__unit" id="trip_sec_str_i">
                            <p>ثانية</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="usps-combined">
                <div class="usps-combined-supplier-wrapper">
                    <div class="usps-combined-supplier">
                        <div class="crop">
                            <img src="https://cdn2.rcstatic.com/images/suppliers/wrp/flat/482_logo_lrg.gif" class="rvw_supplier_logo js-supplier-logo">
                        </div>
                    </div>

                    <p class="usps-combined-link">
                        <a href="#" class="txt-blue-6">عرض تفاصيل المزود</a>
                    </p>
                </div>
            </div>


            <div class="side-section">
                <div class="side-section__content">
                    <div class="side-section__head">
                        <h4 class="side-section__title">اختيار جيد!</h4>

                        <div class="side-section__body">
                            <div class="good-list">
                                <ul class="good-list">
                                    <li class="good-list__item">
                                        <i class="good-list__icon good-list__icon--fuel"></i>
                                        <span class="good-list__text">
                                            تتضمن هذه السيارة سياسة الوقود الأكثر رواجاً: تعبئة الوقود المستخدم
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div> -->




<!-- <div class="col-r">
    <div class="box header cf">
        <div class="rc-modal-supplier-info cf">
            <div class="rc-modal-body cf">
                <div class="supplier-content pull-left">
                    <div class="supplier-padding">


                        <div class="supplier-info-row">
                            <div class="supplier-info-section supplier-info-section--split">
                                <div class="supplier-info-content supplier-info-content--has-icon">
                                    <i class="supplier-info-pointer supplier-info-pointer--pick"></i>
                                    <div class="supplier-info-subtitle">استلام السيارة:</div>
                                    <div class="supplier-info-heading supplier-info-heading--large">دوريس وسط البلد</div>
                                </div>
                            </div>


                            <div class="supplier-info-section supplier-info-section--split">
                                <div class="supplier-info-content supplier-info-content--has-logo">
                                    <img class="supplier-info-logo" title="InterRent" src="https://cdn2.rcstatic.com/images/suppliers/wrp/flat/482_logo_lrg.gif">
                                    <div class="supplier-info-subtitle">:مزودة من قبل</div>
                                    <div class="supplier-info-heading supplier-info-heading--large">Enterprise</div>
                                </div>
                            </div>
                        </div>


                        <div class="supplier-info-row">
                            <div class="supplier-info-section">
                                <div class="supplier-info-content supplier-info-content--has-icon">
                                    <i class="supplier-info-icon supplier-info-icon--map-pointer"></i>
                                    <div class="supplier-info-heading">العنوان</div>
                                    <p>Terminali I Trageteve L1, Durres, Albania, 2000</p>
                                </div>
                            </div>
                        </div>


                        <div class="supplier-info-row">
                            <div class="supplier-info-section">
                                <div class="supplier-info-content supplier-info-content--has-icon">
                                    <i class="supplier-info-icon supplier-info-icon--clock"></i>
                                    <div class="supplier-info-heading">ساعات العمل</div>

                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="section">
    <div class="container">
        <div class="row">

            <div class="col-md-3">
                <div class="content">
                    <div class="countdown">
                        <div class="countdown__section">
                            <div class="countdown__message">
                                <span class="cus-text me-4">.To secure this price, just Book Now</span>
                                <i class="countdown__icon"></i>

                            </div>
                        </div>

                        <div class="countdown__section countdown__section--highlight">
                            <div class="countdown__until">Your trip starts in:</div>

                            <div class="countdown__row cf">
                                <div class="countdown__value" id="trip_day_str">2</div>
                                <div class="countdown__divide">:</div>
                                <div class="countdown__value" id="trip_hour_str">24</div>
                                <div class="countdown__divide">:</div>
                                <div class="countdown__value" id="trip_min_str">55</div>
                                <div class="countdown__divide">:</div>
                                <div class="countdown__value" id="trip_sec_str">2</div>
                            </div>

                            <div class="countdown__row cf">
                                <div class="countdown__unit" id="trip_day_str_i">
                                    <p>days</p>
                                </div>
                                <div class="countdown__unit" id="trip_hour_str_i">
                                    <p>hours</p>
                                </div>
                                <div class="countdown__unit" id="trip_min_str_i">
                                    <p>minutes</p>
                                </div>
                                <div class="countdown__unit" id="trip_sec_str_i">
                                    <p>seconds</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="usps-combined">
                        <div class="usps-combined-supplier-wrapper">

                            <p class="usps-combined-link">
                                <a href="#" class="txt-blue-6">View Supplier Details</a>
                            </p>

                            <div class="usps-combined-supplier">
                                <div class="crop">
                                    <img src="https://cdn2.rcstatic.com/images/suppliers/wrp/flat/482_logo_lrg.gif"
                                        class="rvw_supplier_logo js-supplier-logo">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--             
                        <div class="side-section">
                            <div class="side-section__content">
                                <div class="side-section__head">
                                    <h4 class="side-section__title">اختيار جيد!</h4>
            
                                    <div class="side-section__body">
                                        <div class="good-list">
                                            <ul class="good-list">
                                                <li class="good-list__item">
                                                    <i class="good-list__icon good-list__icon--fuel"></i>
                                                    <span class="good-list__text">
                                                        تتضمن هذه السيارة سياسة الوقود الأكثر رواجاً: تعبئة الوقود المستخدم
                                                    </span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                </div>
            </div>

            <div class="col-md-9 border-cus">
                <div class="row">


                    <div class="col-md-4">
                        <div class="post-car">
                            <div class="car-section">
                                <p class="car-type">
                                    <strong>Hyundai I20</strong>
                                    <a class="txt-blue-6" href="#">
                                        <i class="pencil-edit-icon"></i>
                                        change
                                    </a>

                                    <span id="or_similar" class="underlined" aria-describedby="ui-tooltip-3"
                                        aria-expanded="false" style="cursor: pointer;">or Similar</span>
                                </p>
                                <img src="https://cdn2.rcstatic.com/images/car_images/web/hyundai/i20_lrg.jpg"
                                    alt="Hyundai I20" class="car-image  ">

                                <div class="sub-foot">
                                    <img class="supplier-type" title="Enterprise" alt="Enterprise (RTA)"
                                        src="https://cdn2.rcstatic.com/images/suppliers/wrp/flat/482_logo_lrg.gif">
                                    <button
                                        type="https://cdn2.rcstatic.com/images/suppliers/wrp/flat/482_logo_lrg.gifhttps://cdn2.rcstatic.com/images/suppliers/wrp/flat/482_logo_lrg.gif"
                                        class="booking-details txt-blue-6 a11y-normalise-button" aria-expanded="false"
                                        aria-controls="carDetailsSlideUp">Car details</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-8">
                        <div class="booking-section details">
                            <div class="inner">
                                <div class="des">
                                    <div class="info_b">
                                        <div class="info_b__details">
                                            <p class="info_b__date">
                                                <strong>Pick-up</strong>
                                                <span class="summ-date">10:00 AM Tuesday 06 September, 2022</span>
                                            </p>
                                            <p class="info_b__location">
                                                <strong>
                                                    <span class="summ-location">
                                                        <a href="#" class="summ-location-link">Durres Downtown,
                                                            Albania</a>
                                                    </span>
                                                </strong>
                                            </p>
                                        </div>
                                        <button class="change-dates-modal txt-blue-6 a11y-normalise-button">
                                            <i class="pencil-edit-icon"></i>
                                            Change dates
                                        </button>
                                    </div>

                                    <div class="info_b info_bot">
                                        <div class="info_b__details">
                                            <p class="info_b__date">
                                                <strong>Drop-off</strong>
                                                <span class="summ-date">10:00 AM Friday 09 September, 2022</span>
                                            </p>
                                            <p class="info_b__location">
                                                <strong>
                                                    <span class="summ-location">
                                                        <a href="#" class="summ-location-link">Durres Downtown,
                                                            Albania</a>
                                                    </span>
                                                </strong>
                                            </p>
                                        </div>
                                    </div>
                                </div>


                                <div class="extras">
                                    <div class="extras-title">Extras</div>
                                    <div class="extras-drop extras-drop--empty extras-drop--disabled" id="extras-drop">
                                        <button type="button" class="a11y-normalise-button extras-drop-link"
                                            aria-expanded="false" aria-controls="extras-drop-link-content"
                                            tabindex="-1">
                                            <span class="extras-drop-link__text">No extras</span>
                                            <i class="extras-drop-link__arrow"></i>
                                        </button>
                                        <div class="extras-drop-popover">
                                            <div class="extras-drop-popover__content">
                                                <div class="extras-drop-popover__section js-extras-drop-section">
                                                    <div class="extras-drop-popover__title">Payable today:</div>
                                                    <table class="extras-drop-popover__table">
                                                        <tbody>
                                                            <tr class="extras-drop-item js-extras-drop-item"
                                                                id="protection" style="display: none;">
                                                                <td class="extras-drop-item__type"></td>
                                                                <button type="button"
                                                                    class="a11y-normalise-button dotted-underline"></button>
                                                                <td class="extras-drop-item__quantity"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>


                                                <div class="extras-drop-popover__section js-extras-drop-section">
                                                    <div class="extras-drop-popover__title">Payable at pick-up:</div>
                                                    <table class="extras-drop-popover__table"></table>
                                                </div>
                                            </div>


                                            <div class="extras-drop-popover__arrow-border">
                                                <div class="extras-drop-popover__arrow"></div>
                                            </div>
                                        </div>
                                    </div>



                                    <a href="#" id="extrasContent" class="txt-blue-6  change-extras-link">
                                        <i class="pencil-edit-icon"></i>
                                        Change
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="box-footer">
                        <div class="box-footer__content">
                            <div class="love-list">
                                <div class="love-list__title">Good choice!</div>
                                <ul class="love-list__list cf">
                                    <li class="love-list__item">
                                        <div class="love-list__content">
                                            <i class="love-list__icon love-list__icon--fuel"></i>
                                            <span class="love-list__text">Most popular fuel policy</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>



                    <div class="inline-message positive inline-message--includes">
                        <h4>Included in the price:</h4>
                        <ul>
                            <li class="result_includes result_includes--ticked">
                                <i class="fa-solid fa-circle-check" style="color:green"></i>
                                <a href="#0"
                                    class="a11y-normalise-button cancellation-modal-link js-cancellation-modal-link"
                                    aria-describedby="ui-tooltip-3" aria-expanded="false" style="cursor: pointer;">Free
                                    cancellation</a>
                                <div class="modal modal--cancellation modal--fixed modal--light" id="cancellation-modal"
                                    style="position: absolute !important;">
                                    <div class="modal__dialog">
                                        <div class="modal__content">
                                            <div class="modal__header">
                                                <a href="#" class="modal__close"></a>
                                                <h1 class="modal__title">Free cancellation up to 48 hours before pick-up
                                                </h1>
                                            </div>

                                            <div class="modal__body">
                                                <div class="cancel-explained">
                                                    <div class="cancel-explained__timeline cancel-timeline">
                                                        <div class="cancel-timeline__row">
                                                            <div
                                                                class="cancel-timeline__segment cancel-timeline__segment--large">
                                                                <div
                                                                    class="cancel-timeline__tip-segment cancel-timeline__tip-segment--small">
                                                                    <div class="cancel-timeline__tip">
                                                                        now
                                                                        <span
                                                                            class="cancel-timeline__arrow cancel-timeline__arrow--border"></span>
                                                                        <span class="cancel-timeline__arrow"></span>
                                                                    </div>
                                                                </div>


                                                                <div
                                                                    class="cancel-timeline__tip-segment cancel-timeline__tip-segment--large">
                                                                    <div
                                                                        class="cancel-timeline__tip cancel-timeline__tip--omega cancel-timeline__tip--offset">
                                                                        10:00 AM Monday 05 September, 2022
                                                                        <br>
                                                                        <span
                                                                            class="cancel-timeline__arrow cancel-timeline__arrow--border"></span>
                                                                        <span class="cancel-timeline__arrow"></span>
                                                                    </div>
                                                                </div>
                                                            </div>



                                                            <div
                                                                class="cancel-timeline__segment cancel-timeline__segment--small">
                                                                <div
                                                                    class="cancel-timeline__tip cancel-timeline__tip--omega">
                                                                    Pick-up
                                                                    <span
                                                                        class="cancel-timeline__arrow cancel-timeline__arrow--border"></span>
                                                                    <span class="cancel-timeline__arrow"></span>
                                                                </div>
                                                            </div>
                                                        </div>



                                                        <div class="cancel-timeline__row">
                                                            <div
                                                                class="cancel-timeline__segment cancel-timeline__segment--large">
                                                                <div
                                                                    class="cancel-timeline__bar cancel-timeline__bar--positive">
                                                                </div>
                                                            </div>


                                                            <div
                                                                class="cancel-timeline__segment cancel-timeline__segment--small">
                                                                <div
                                                                    class="cancel-timeline__bar cancel-timeline__bar--negative">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <p class="cancel-explained__legend">
                                                        <span
                                                            class="cancel-explained__point cancel-explained__point--positive"></span>
                                                        You’ll get a full refund if you cancel at least 48 hours before
                                                        pick-up.
                                                        <br>
                                                    </p>

                                                    <p class="cancel-explained__legend">
                                                        <span
                                                            class="cancel-explained__point cancel-explained__point--negative"></span>
                                                        You won’t get a full refund if you cancel after that.
                                                        <br>
                                                        <a href="#0" class="js-cancel-explained-details-link">More
                                                            Details</a>
                                                    </p>

                                                    <div
                                                        class="cancel-explained__full-information js-cancel-explained-details">
                                                        <div class="cancel-explained__full-information-content"></div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>


                            <li class="result_includes result_includes--ticked">
                                <i class="fa-solid fa-circle-check" style="color:green"></i>
                                <a href="#0"
                                    class="a11y-normalise-button cancellation-modal-link js-cancellation-modal-link"
                                    aria-describedby="ui-tooltip-3" aria-expanded="false" style="cursor: pointer;">
                                    Theft Protection</a>
                                <div class="modal modal--cancellation modal--fixed modal--light" id="cancellation-modal"
                                    style="position: absolute !important;">
                                    <div class="modal__dialog">
                                        <div class="modal__content">
                                            <div class="modal__header">
                                                <a href="#" class="modal__close"></a>
                                                <h1 class="modal__title">Free cancellation up to 48 hours before pick-up
                                                </h1>
                                            </div>

                                            <div class="modal__body">
                                                <div class="cancel-explained">
                                                    <div class="cancel-explained__timeline cancel-timeline">
                                                        <div class="cancel-timeline__row">
                                                            <div
                                                                class="cancel-timeline__segment cancel-timeline__segment--large">
                                                                <div
                                                                    class="cancel-timeline__tip-segment cancel-timeline__tip-segment--small">
                                                                    <div class="cancel-timeline__tip">
                                                                        now
                                                                        <span
                                                                            class="cancel-timeline__arrow cancel-timeline__arrow--border"></span>
                                                                        <span class="cancel-timeline__arrow"></span>
                                                                    </div>
                                                                </div>


                                                                <div
                                                                    class="cancel-timeline__tip-segment cancel-timeline__tip-segment--large">
                                                                    <div
                                                                        class="cancel-timeline__tip cancel-timeline__tip--omega cancel-timeline__tip--offset">
                                                                        10:00 AM Monday 05 September, 2022
                                                                        <br>
                                                                        <span
                                                                            class="cancel-timeline__arrow cancel-timeline__arrow--border"></span>
                                                                        <span class="cancel-timeline__arrow"></span>
                                                                    </div>
                                                                </div>
                                                            </div>



                                                            <div
                                                                class="cancel-timeline__segment cancel-timeline__segment--small">
                                                                <div
                                                                    class="cancel-timeline__tip cancel-timeline__tip--omega">
                                                                    Pick-up
                                                                    <span
                                                                        class="cancel-timeline__arrow cancel-timeline__arrow--border"></span>
                                                                    <span class="cancel-timeline__arrow"></span>
                                                                </div>
                                                            </div>
                                                        </div>



                                                        <div class="cancel-timeline__row">
                                                            <div
                                                                class="cancel-timeline__segment cancel-timeline__segment--large">
                                                                <div
                                                                    class="cancel-timeline__bar cancel-timeline__bar--positive">
                                                                </div>
                                                            </div>


                                                            <div
                                                                class="cancel-timeline__segment cancel-timeline__segment--small">
                                                                <div
                                                                    class="cancel-timeline__bar cancel-timeline__bar--negative">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <p class="cancel-explained__legend">
                                                        <span
                                                            class="cancel-explained__point cancel-explained__point--positive"></span>
                                                        You’ll get a full refund if you cancel at least 48 hours before
                                                        pick-up.
                                                        <br>
                                                    </p>

                                                    <p class="cancel-explained__legend">
                                                        <span
                                                            class="cancel-explained__point cancel-explained__point--negative"></span>
                                                        You won’t get a full refund if you cancel after that.
                                                        <br>
                                                        <a href="#0" class="js-cancel-explained-details-link">More
                                                            Details</a>
                                                    </p>

                                                    <div
                                                        class="cancel-explained__full-information js-cancel-explained-details">
                                                        <div class="cancel-explained__full-information-content"></div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="result_includes result_includes--ticked">
                                <i class="fa-solid fa-circle-check" style="color:green"></i>
                                <a href="#0"
                                    class="a11y-normalise-button cancellation-modal-link js-cancellation-modal-link"
                                    aria-describedby="ui-tooltip-3" aria-expanded="false" style="cursor: pointer;">
                                    Collision Damage Waiver</a>
                                <div class="modal modal--cancellation modal--fixed modal--light" id="cancellation-modal"
                                    style="position: absolute !important;">
                                    <div class="modal__dialog">
                                        <div class="modal__content">
                                            <div class="modal__header">
                                                <a href="#" class="modal__close"></a>
                                                <h1 class="modal__title">Free cancellation up to 48 hours before pick-up
                                                </h1>
                                            </div>

                                            <div class="modal__body">
                                                <div class="cancel-explained">
                                                    <div class="cancel-explained__timeline cancel-timeline">
                                                        <div class="cancel-timeline__row">
                                                            <div
                                                                class="cancel-timeline__segment cancel-timeline__segment--large">
                                                                <div
                                                                    class="cancel-timeline__tip-segment cancel-timeline__tip-segment--small">
                                                                    <div class="cancel-timeline__tip">
                                                                        now
                                                                        <span
                                                                            class="cancel-timeline__arrow cancel-timeline__arrow--border"></span>
                                                                        <span class="cancel-timeline__arrow"></span>
                                                                    </div>
                                                                </div>


                                                                <div
                                                                    class="cancel-timeline__tip-segment cancel-timeline__tip-segment--large">
                                                                    <div
                                                                        class="cancel-timeline__tip cancel-timeline__tip--omega cancel-timeline__tip--offset">
                                                                        10:00 AM Monday 05 September, 2022
                                                                        <br>
                                                                        <span
                                                                            class="cancel-timeline__arrow cancel-timeline__arrow--border"></span>
                                                                        <span class="cancel-timeline__arrow"></span>
                                                                    </div>
                                                                </div>
                                                            </div>



                                                            <div
                                                                class="cancel-timeline__segment cancel-timeline__segment--small">
                                                                <div
                                                                    class="cancel-timeline__tip cancel-timeline__tip--omega">
                                                                    Pick-up
                                                                    <span
                                                                        class="cancel-timeline__arrow cancel-timeline__arrow--border"></span>
                                                                    <span class="cancel-timeline__arrow"></span>
                                                                </div>
                                                            </div>
                                                        </div>



                                                        <div class="cancel-timeline__row">
                                                            <div
                                                                class="cancel-timeline__segment cancel-timeline__segment--large">
                                                                <div
                                                                    class="cancel-timeline__bar cancel-timeline__bar--positive">
                                                                </div>
                                                            </div>


                                                            <div
                                                                class="cancel-timeline__segment cancel-timeline__segment--small">
                                                                <div
                                                                    class="cancel-timeline__bar cancel-timeline__bar--negative">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <p class="cancel-explained__legend">
                                                        <span
                                                            class="cancel-explained__point cancel-explained__point--positive"></span>
                                                        You’ll get a full refund if you cancel at least 48 hours before
                                                        pick-up.
                                                        <br>
                                                    </p>

                                                    <p class="cancel-explained__legend">
                                                        <span
                                                            class="cancel-explained__point cancel-explained__point--negative"></span>
                                                        You won’t get a full refund if you cancel after that.
                                                        <br>
                                                        <a href="#0" class="js-cancel-explained-details-link">More
                                                            Details</a>
                                                    </p>

                                                    <div
                                                        class="cancel-explained__full-information js-cancel-explained-details">
                                                        <div class="cancel-explained__full-information-content"></div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>




                    <div class="box">
                        <h2>Driver Information</h2>
                        <p class="required">* Required fields</p>
                        <div class="inline-message inline-message--error cf">
                            <h4>Almost done</h4>
                            <p>The red writing shows you what’s missing…</p>
                        </div>

                        <div class="form-con">
                            <div class="form-row">
                                <label for="title">*&nbsp; Title</label>
                                <span class="form-border">
                                    <span class="holder">Please select</span>
                                    <select name="title" id="title">
                                        <option value="Please Select">Please Select</option>
                                        <option value="Mr">Mr</option>
                                        <option value="Mrs">Mrs</option>
                                        <option value="Miss">Miss</option>
                                        <option value="Dr">Dr</option>
                                        <option value="Ms">Ms</option>
                                    </select>
                                    <input type="hidden" id="titleSelect" name="title" value>
                                </span>

                                <div id="title_advance" class="advance-msg show_msg"></div>
                                <div class="error-msg" id="titleerror"></div>
                            </div>



                            <div class="form-row">
                                <label for="f_name_input">*&nbsp; First Name</label>
                                <input type="text" name="firstname" value id="f_name_input" aria-required="true"
                                    aria-describedby="firstnameerror">
                                <div id="firstname_advance" class="advance-msg show_msg"></div>
                                <div class="error-msg" id="firstnameerror"></div>
                            </div>


                            <div class="form-row">
                                <label for="surname_input">*&nbsp; Last Name</label>
                                <input type="text" name="surname" value id="surname_input" aria-required="true"
                                    aria-describedby="surnameerror">
                                <div id="surname_advance" class="advance-msg show_msg" style="display: none;"></div>
                                <div class="error-msg" id="surnameerror"></div>
                            </div>


                            <div class="form-row form-row--has-suggestion form-row--has-tip">
                                <label for="booking-form-email">*&nbsp; Email Address</label>
                                <input type="text" name="email" id="booking-form-email" aria-required="true"
                                    aria-describedby="emailerror">
                                <div id="email_advance" class="advance-msg show_msg" style="display: none;"></div>
                                <i class="input-tip"></i>
                                <div class="error-msg" id="emailerror"></div>
                            </div>



                            <div class="form-row">
                                <label for="phone_input">*&nbsp; Home Phone</label>
                                <input type="text" name="phone" id="phone_input" aria-required="true"
                                    aria-describedby="phoneerror">
                                <div id="phone_advance" class="advance-msg show_msg" style="display: none;"></div>
                                <div class="error-msg" id="phoneerror"></div>
                            </div>
                        </div>
                    </div>


                    <div class="email-signup cf">
                        <h3 class="email-signup__title">Save even more next time</h3>
                        <span class="email-signup__body">We'll use your email address to send you our finest deals and discounts.</span>
                        <span class="email-signup__body"></span>
                        <div class="email-signup__preferences">
                            <ul>
                                <li class="email-signup__checkbox">
                                    <input type="checkbox" name="mailingList" id="mailingList_input" value="on">
                                    <label class="email-signup__preference" id="email-signup-label">No thanks, count me out.</label>
                                </li>
                            </ul>
                        </div>

                        <span class="email-signup__body--small">
                            <p class="email-signup__body--small">
                                Our
                                <a href="#0" class="privacy-policy-disclaimer__link">Privacy Notice</a>
                                tells you how to 
                                <a href="https://www.rentalcars.com/Unsubscribe.do" target="_blank" title="Unsubscribe">unsubscribe</a>
                                . It also explains how we use and protect your personal information.
                            </p>
                        </span>
                    </div>


<div class="cta_area">
    <div class="contin">
        <a href="#" class="btn rc-btn secondary txt-white lg" id="btn-submit-dd">
            <span class="rc-btn-loader"></span>
                Book Now
        </a>
    </div>

    <a href="javascript:document.BookingPaymentForm.action=backURL;document.BookingPaymentForm.submit()" class="back-gray">
        <i class="fa-solid fa-caret-left"></i>
        Back
    </a>

    <div class="step_progress"> 
        Step 
        <span>3</span>
        of 5
    </div>
</div>
                    

<div class="privacy-policy-disclaimer cf">
    <div class="privacy-policy-disclaimer__message">      
        By clicking "Book Now", you are confirming that you have read, understood, and accepted our 
        <a href="#0" class="privacy-policy-disclaimer__link">Privacy Notice</a>
        &nbsp;
    </div>
</div>


                </div>
            </div>
        </div>
    </div>
</div>